extends layout

block append scripts
	script(src='/javascripts/controller/loginController.js')

block content
	<div ng-app="reviewmywebsite" ng-controller="loginController">
	<h3>Proof of concept app written in Node.js, Express, Jade & MongoDB</h3>
	<p>{{statusText}} {{currentDateTime | date:'dd-MM-yyyy @ HH:mm'}}</p>
	<p>tomatoeaaa<p>

	
	</div>





